listen on 0.0.0.0

table aliases file:/etc/smtpd/aliases

queue ttl {{ getenv "OPENSMTPD_EXPIRE" "4d" }}

bounce warn-interval {{ getenv "OPENSMTPD_BOUNCE_WARN" "1h, 6h, 2d" }}

smtp max-message-size {{ getenv "OPENSMTPD_MAX_MESSAGE_SIZE" "35M" }}

{{ if getenv "RELAY_HOST" }}
{{ if getenv "RELAY_USER" }}
table authinfo db:/etc/smtpd/authinfo.db
action act01 relay host "tls+auth://user@{{ getenv "RELAY_HOST" }}:{{ getenv "RELAY_PORT" "587" }}"
match from any for any action act01
{{ else }}
action act01 relay host "tls://{{ getenv "RELAY_HOST" }}:{{ getenv "RELAY_PORT" "587" }}"
match from any for any action act01
{{ end }}
{{ else }}
action act01 relay
match from any for any action act01
{{ end }}