name: Build docker image

on:
  push:
    branches:
    - master

    tags:
    - '*'

env:
  BASE_IMAGE_STABILITY_TAG: 2.6.2

jobs:
  opensmtpd-6:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: ./.github/actions
      with:
        version: 6.0.3
        alpine_ver: '3.10'
        tags: 6.0,6,latest
        base_image_stability_tag: ${{ env.BASE_IMAGE_STABILITY_TAG }}
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
